body {
    /* Establecer el body como un contenedor flex */
    display: flex;
    flex-direction: column; /* Los hijos (elementos) se apilan verticalmente */
    align-items: center; /* Centrar hijos horizontalmente */
    justify-content: center; /* Centrar hijos verticalmente */

    /* Asegurarse de que el body ocupe toda la altura de la ventana del navegador */
   
    margin: 0; /* Quitar márgenes predeterminados */
}
